<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
</startup>
  <appSettings>
    <add key="MysqlConnectionStr" value="Database=web;Data Source=localhost;User Id=python;Password=python;CharSet=utf8;port=3306"/>
    </appSettings>
</configuration>
